$base-color = #464C5B
$primary-color = #0083e3
$text-color = #657180
$text-info-color = #9EA7B4
$grey-v1 = #dcdee2
$grey-v2 = #C5C7CE
$grey-v3 = #AEAEAE
$border = 1px solid #e7e7e7
$border-tip = 1px solid #f1f1f1
$shadow-v1 = rgba(0, 0, 0, 0.3)